<log4net>

  <root>
    <appender-ref ref="Appender" />
  </root>

  <!-- 日志的等级，它们由高到底分别为： OFF > FATAL > ERROR > WARN > INFO > DEBUG > ALL -->
  <!--信息日志配置-->
  <appender name="Appender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="logs/.log" />
    <param name="AppendToFile" value="true" />
    <param name="MaxFileSize" value="10240" />
    <param name="MaxSizeRollBackups" value="100" />
    <param name="PreserveLogFileNameExtension" value="true" />
    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="yyyyMMdd" />
    <param name="RollingStyle" value="Date" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>
</log4net>